<h2>Producto: {{_id}}</h2>
<form action="http://localhost:8080/api/carts" method="post">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <p>Precio: ${{price}}</p>
    <p>Stock: {{stock}}</p>
    <p>Categoria: {{category}}</p>
    <input type="hidden" name="productId" id="productId" value="{{_id}}">
    Cantidad: <input type="number" name="quantity" id="quantity">
    <input type="submit" value="Añadir al Carrito"></input>
</form>